{% extends "RSP/base.html" %}


{% block content %}
    <div class="main_content">
        <div class="main_content_text">
            <i class="far fa-lightbulb"></i>
            <div>전 세계 피로그래머와<br />가위바위보를 즐겨보세요!</div>

            {% if user.is_authenticated %}
                <a href="{% url "RSP:game" %}">
                    <input class='main_content_text_button' type="button" value="게임하기">
                </a>
                <a href="{% url 'RSP:list' %}">
                    <input class="main_content_text_button" type="button" value="전적보기">
                </a>
            {% else %}
                <a href="{% url "RSP:login" %}">
                    <input class='main_content_text_button' type="button" value="게임하기">
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}